<div class="container-fluid" ng-controller="PhotoCtrl">
    <h1 class="page-header">Photo gallery</h1>
    <div class="col-md-4">
        <img src="http://getuikit.com/docs/images/placeholder_600x400.svg" class="img-thumbnail">
    </div>
    <div class="col-md-4">
        <p>Name:</p>
        <input class="form-control" value="{{photo.name}}" ng-model="photo.name">
        <p>Author:</p>
        <input class="form-control" value="{{photo.author}}" ng-model="photo.author">

        <label>
            <input type="checkbox" name="visible" value="visible" ng-checked="photo.visible" ng-model="photo.visible"> Visible
        </label>
        <p>♡: {{photo.likes}}</p>

        <button class="btn btn-success" ng-click="updatePhoto()">Save</button>
        <a href="#!/home"><button class="btn btn-warning">Cancel</button></a>
    </div>
</div>
{{photo}}
