<div class="wrapper" ng-controller="PhotoCtrl">
    <div class="col-md-6">
        <img ng-src="{{photo.url}}" width="500" height="300">
    </div>
    <div class="col-md-6">
        <p>Name:</p>
        <input class="form-control" value="{{photo.name}}" ng-model="photo.name">
        <p>Author:</p>
        <input class="form-control" value="{{photo.author}}" ng-model="photo.author">

        <label>
            <input type="checkbox" name="visible" value="visible" ng-checked="photo.visible" ng-model="photo.visible"> Visible
        </label>
        <p>♡: {{photo.likes}}</p>

        <button class="btn btn-success" ng-click="updatePhoto()">Save</button>
        <button class="btn btn-warning"><a href="#!/home">Cancel</a></button>
    </div>
</div>
{{photo}}
